<html>
<head>
</head>
<body>

<div class="col-9 cls_contentWrapParent" th:fragment="contentBody">
	<nav th:replace="common/tools :: tools">footer</nav>
	<div class="cls_contentWrap" id="id_editableBody">
	
			
		<div class="cls_PageTitleWrap">
			<div class="cls_pageTitle"><h3 class="cls_pageTitleTxt">Your page Title</h3></div>
			<span class="cls_authorNameHead">Author: </span><span class="cls_authorNameTxt">Your name..</span>
		</div>
		
		<div class="cls_pageContentWrap">
			<p>
			<br/>
			<br/>
			<br/>
			<br/>
			Update your content here
		</div>
		
	</div>
	
	
		
	<button type="button" class="btn btn-deep-purple float-right cls_contentSaveBtn">Save</button>
</div>

</body>
</html>