<html>
<head>
</head>
<body>

<div class="col-9 cls_contentWrap " id="perm_accordion" th:fragment="homeContent">

	<div class="cls_permHeaderWrap" data-toggle="collapse" data-target="#id_generalPermWrap" aria-expanded="true" aria-controls="id_generalPermWrap">General</div>
	<div class="cls_permContlist collapse show" id="id_generalPermWrap" aria-labelledby="headingOne" data-parent="#perm_accordion">	
		
		<div class="cls_permissionWrap" data-toggle="collapse" data-target="#id_generalUserPerm" aria-expanded="true" aria-controls="id_generalUserPerm">User Permissions</div>
		<div class="cls_permissionWrapList cls_userPermissionList collapse show" id="id_generalUserPerm" aria-labelledby="headingOne" data-parent="#id_generalPermWrap">
		
			<div class="cls_permissionItemsWrap">
				<div class="cls_fixedHeader"></div>
			</div>
	    </div>
	    
	    <div class="cls_permissionWrap" data-toggle="collapse" data-target="#id_generalObjPerm" aria-expanded="true" aria-controls="id_generalObjPerm">Object Permissions</div>
		<div class="cls_permissionWrapList cls_objPermissionList collapse" id="id_generalObjPerm" aria-labelledby="headingOne" data-parent="#id_generalPermWrap">
	    	<div class="cls_permissionItemsWrap">
				<div class="cls_fixedHeader"></div>
			</div>
	    </div>
		
		<div class="cls_permissionWrap" data-toggle="collapse" data-target="#id_generalSetupPerm" aria-expanded="true" aria-controls="id_generalSetupPerm">Setup Permissions</div>
		<div class="cls_permissionWrapList collapse" id="id_generalSetupPerm" aria-labelledby="headingOne" data-parent="#id_generalPermWrap">
			<div class="cls_permissionItemsWrap">
				<div class="cls_fixedHeader"></div>
			</div>
	    </div>
	</div>







	<div class="cls_permHeaderWrap" data-toggle="collapse" data-target="#id_commonPermWrap" aria-expanded="false" aria-controls="id_commonPermWrap">Common Perms</div>
	<div class="cls_permContlist collapse" id="id_commonPermWrap" aria-labelledby="headingOne" data-parent="#perm_accordion">
		
		<div class="cls_permissionWrap" data-toggle="collapse" data-target="#id_commonUserPerm" aria-expanded="true" aria-controls="id_commonUserPerm">User Permissions</div>
		<div class="cls_permissionWrapList cls_userPermissionList collapse show" id="id_commonUserPerm" aria-labelledby="headingOne" data-parent="#id_commonPermWrap">
		
			<div class="cls_permissionItemsWrap">
				<div class="cls_fixedHeader"></div>
			</div>
	    </div>
	    
	    <div class="cls_permissionWrap" data-toggle="collapse" data-target="#id_commonObjPerm" aria-expanded="true" aria-controls="id_generalObjPerm">Object Permissions</div>
		<div class="cls_permissionWrapList cls_objPermissionList collapse" id="id_commonObjPerm" aria-labelledby="headingOne" data-parent="#id_commonPermWrap">
	    	<div class="cls_permissionItemsWrap">
				<div class="cls_fixedHeader"></div>
			</div>
	    </div>
		
		<div class="cls_permissionWrap" data-toggle="collapse" data-target="#id_commonSetupPerm" aria-expanded="true" aria-controls="id_commonSetupPerm">Setup Permissions</div>
		<div class="cls_permissionWrapList collapse" id="id_commonSetupPerm" aria-labelledby="headingOne" data-parent="#id_commonPermWrap">
			<div class="cls_permissionItemsWrap">
				<div class="cls_fixedHeader"></div>
			</div>
	    </div>
	</div>
	
	
	<div class="cls_permHeaderWrap" data-toggle="collapse" data-target="#id_uniquePermWrap" aria-expanded="false" aria-controls="id_uniquePermWrap">Unique Perms</div>
	<div class="cls_permContlist collapse" id="id_uniquePermWrap" aria-labelledby="headingOne" data-parent="#perm_accordion">
		
		<div class="cls_permissionWrap" data-toggle="collapse" data-target="#id_uniqueUserPerm" aria-expanded="true" aria-controls="id_uniqueUserPerm">User Permissions</div>
		<div class="cls_permissionWrapList cls_userPermissionList collapse show" id="id_uniqueUserPerm" aria-labelledby="headingOne" data-parent="#id_uniquePermWrap">
		
			<div class="cls_permissionItemsWrap">
				<div class="cls_fixedHeader"></div>
			</div>
	    </div>
	    
	    <div class="cls_permissionWrap" data-toggle="collapse" data-target="#id_uniqueObjPerm" aria-expanded="fase" aria-controls="id_uniqueObjPerm">Object Permissions</div>
		<div class="cls_permissionWrapList cls_objPermissionList collapse" id="id_uniqueObjPerm" aria-labelledby="headingOne" data-parent="#id_uniquePermWrap">
	    	<div class="cls_permissionItemsWrap">
				<div class="cls_fixedHeader"></div>
			</div>
	    </div>
		
		<div class="cls_permissionWrap" data-toggle="collapse" data-target="#id_uniqueSetupPerm" aria-expanded="false" aria-controls="id_uniqueSetupPerm">Setup Permissions</div>
		<div class="cls_permissionWrapList collapse" id="id_uniqueSetupPerm" aria-labelledby="headingOne" data-parent="#id_uniquePermWrap">
			<div class="cls_permissionItemsWrap">
				<div class="cls_fixedHeader"></div>
			</div>
	    </div>
    </div>
    
	<div class="cls_permHeaderWrap" data-toggle="collapse" data-target="#id_differPermWrap" aria-expanded="false" aria-controls="id_differPermWrap">Differing Perms</div>
	<div class="cls_permContlist collapse" id="id_differPermWrap" aria-labelledby="headingOne" data-parent="#perm_accordion">
		
		<div class="cls_permissionWrap" data-toggle="collapse" data-target="#id_differUserPerm" aria-expanded="true" aria-controls="id_differUserPerm">User Permissions</div>
		<div class="cls_permissionWrapList cls_userPermissionList collapse show" id="id_differUserPerm" aria-labelledby="headingOne" data-parent="#id_differPermWrap">
		
			<div class="cls_permissionItemsWrap">
				<div class="cls_fixedHeader"></div>
			</div>
	    </div>
	    
	    <div class="cls_permissionWrap" data-toggle="collapse" data-target="#id_differObjPerm" aria-expanded="fase" aria-controls="id_differObjPerm">Object Permissions</div>
		<div class="cls_permissionWrapList cls_objPermissionList collapse" id="id_differObjPerm" aria-labelledby="headingOne" data-parent="#id_differPermWrap">
	    	<div class="cls_permissionItemsWrap">
				<div class="cls_fixedHeader"></div>
			</div>
	    </div>
		
		<div class="cls_permissionWrap" data-toggle="collapse" data-target="#id_differSetupPerm" aria-expanded="false" aria-controls="id_differSetupPerm">Setup Permissions</div>
		<div class="cls_permissionWrapList collapse" id="id_differSetupPerm" aria-labelledby="headingOne" data-parent="#id_differPermWrap">
			<div class="cls_permissionItemsWrap">
				<div class="cls_fixedHeader"></div>
			</div>
	    </div>
	    
	</div>
	
</div>

<div class="col-9 cls_contentWrap" th:fragment="unauthorized">
	
	Sorry. You are unauthorized to access this page!!
	
</div>

<div class="col-9 cls_contentWrap" th:fragment="errorPage">
	
	<span th:if="${status == 404}">Sorry Requested page not found!</span>
	<span th:if="${status == 403}">Sorry. You are not authorized to access this page!</span>
	<span th:if="${status == 500}">Something went wrong please try later!</span>
	
</div>

</body>
</html>